.navbar-nav-media{
    background-color: rgba(161, 199, 238, 0.438);
  }

.middle{
  margin:70px;
}

.media-img{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;  
}


.container-media:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0.15;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;  
  }
  
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}

@media(min-width:320px){
  .middle{
      margin:40px 20px;
  }
  .container-media {
    position: relative;
    width: 270px;
    margin: 10px;
  }
  
  .image {
    display: block;
    width:270px;
    height: auto;
    
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 270px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(69, 85, 100, 0.842);
  }
}


@media (min-width: 345px) { 

  .middle{
      margin:80px 35px;
  }

  .container-media {
    position: relative;
    width: 320px;
    margin: 10px;
  }
  
  .image {
    display: block;
    width:320px;
    height: auto;
    
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 320px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(69, 85, 100, 0.842);
  }

}


@media(min-width:768px){

  .middle{
    margin:80px;
  }

  .container-media {
    position: relative;
    width: 500px;
    margin: 10px;
  }
  
  .image {
    display: block;
    width:500px;
    height: auto;
    
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 500px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(69, 85, 100, 0.842);
  }


}

@media (min-width:992px){
  .middle{
    margin:80px 150px;
  }
  
  .container-media {
    position: relative;
    width: 460px;
    margin: 10px;
  }
  
  
  .image {
    display: block;
    width:460px;
    height: auto;
    
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 460px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(69, 85, 100, 0.842);
  }
}
